@using WepSiteBanHang.Models;
@model DonDatHang

@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Areas/Admin/Views/LayoutAD/AdinLayout.cshtml";
}


<h2>Thông tin đơn hàng <font color="#f65e84">@Model.ThanhVien.HoTen</font></h2>
<br /><br />

@using (Html.BeginForm())
{   <div class="table-responsive">
        <div class="ChiTietDonHang table">
            @{IEnumerable<ChiTietDonDatHang> lstChiTietDH = (IEnumerable<ChiTietDonDatHang>)ViewBag.ListChiTietDH;}
            <table class="table table-bordered" id="table">
                @*Phần thông tin đơn hàng*@
                <tr>
                    <td colspan="4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng: <b style="color:red;"> @Model.MaDDH @Html.Hidden("MaDDH", @Model.MaDDH)</b></th>
                                    <th>Mã khách hàng: <b style="color:red;"> @Model.ThanhVien.MaThanhVien</b></th>
                                    <th>Tên khách hàng: <b style="color:red;"> @Model.ThanhVien.HoTen</b></th>
                                    <th>Ngày đặt: @Model.NgayDat.Value.ToString("dd/MM/yyyy")</th>
                                    <th>Đã thanh toán: @Html.EditorFor(model => model.DaThanhToan)</th>
                                    <th>Đã giao: @Html.EditorFor(model => model.TinhTrangGiaoHang)</th>
                                </tr>
                                </thead>
                            </table>

                    </td>
                </tr>
                <</table>


                @*Thông tin chi tiết đơn hàng*@

                <table class="table table-striped table-bordered table-hover" style="text-align:center">
                <thead>
                <tr >
                    
                    <th style="text-align:center"><b>Sản phẩm</b></th>
                    <th style="text-align:center"><b>Hình ảnh</b></th>
                    <th style="text-align:center"><b>Số lượng đặt</b></th>
                    <th style="text-align:center"><b>Đơn giá đặt</b></th>
                </tr>
                </thead>
        

                @foreach (var item in lstChiTietDH)
                {
                    <tr>
                        <td style="text-align:center">@item.SanPham.TenSP</td>
                        <td width="100"><img width="150" height="150" src="@Url.Content("~/Content/HinhAnhSP/"+item.SanPham.HinhAnh)" /></td>
                        <td>@item.SoLuong</td>
                        <td width="300">@item.DonGia</td>
                    </tr>
                }
                <tr>
                    <td align="right" colspan="4">Tổng số lượng: <span style="font-size:20px;font-weight:bold;color:blue"> @Model.ChiTietDonDatHangs.Sum(n => n.SoLuong) </span> sản phẩm</td>
                </tr>
                <tr>
                    <td align="right" colspan="4">Tổng tiền:<span style="font-size:20px;font-weight:bold;color:blue"> @Model.ChiTietDonDatHangs.Sum(n => n.SanPham.DonGia).Value.ToString("#,##")  </span> đồng</td>
                </tr>
                 </table>

            <input type="button" class="btn btn-default"  value="In đơn hàng" id="btnInDonHang" />
            <input type="submit" class="btn btn-danger" value="Lưu đơn hàng" id="btnInDonHang" />
        </div>
    </div>
                }
    
<script>

    $("#btnInDonHang").click(function () {
        var content = "<table>" + $("#table").html() + "</table>";
        InDonHang(content);
    });

    //Phương thức in
    function InDonHang(content) {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }

</script>

